@model Product

<div class="m-1">
   <h3>@Model.Title</h3>
   <div>@Model.Timestamp</div>
   <div>@Model.ShortDesc</div>
   <img src="/Product/GetImage/@Model.Id?size=1" width="180" height="180" class="m-1" />

   <div>
      <a asp-controller="Product" asp-action="AddToCart" asp-route-id="@Model.Id" class="float-left m-1">Add To Cart</a>
      <a asp-controller="Product" asp-action="Details" asp-route-id="@Model.Id" class="float-right m-1">Details</a>
   </div>
</div>



