@functions
{
   string GetLink(string controllerName, string actionName, string name)
   {
      var controller = ViewContext.RouteData.Values["Controller"];
      var action = ViewContext.RouteData.Values["Action"];

      if(action.Equals(actionName) && controller.Equals(controllerName))
      {
         return "<span><b>" + name + "</b></span>";
      }

      return "<a href='" + Url.Action(actionName, controllerName) + "'>" + name + "</a>";
   }
}

<div class="myBorder">
   <h5>Site's map</h5>
   <div>@Html.Raw(GetLink("Home", "AboutUs", "About us"))</div>
   <div>@Html.Raw(GetLink("Home", "ShowAll", "Main Page"))</div>
   <div>@Html.Raw(GetLink("Product", "Cart", "Cart"))</div>

   @if (User.Identity.IsAuthenticated)
   {
      <div>
         @Html.Raw(GetLink("Account", "PersonalDetails", "Personal Details"))
      </div>
      <div>
         @Html.Raw(GetLink("Product", "AddItem", "Add item"))
      </div>
   }
   else
   {
      <div>
         @Html.Raw(GetLink("Home", "Register", "Register"))
      </div>
   }
</div>
