
@model Product
@{

}

@*<div>@Model.Product.ShortDesc</div>
   <div>@Model.Product.Timestamp</div>

   <div>
       <img src="" />
       <img src="" />
       <img src="" />
   </div>
   <div>
       @Model.Product.LongDesc
   </div>

   <div>@Model.Product.Price</div>
   <div>@Model.User.FirstName @Model.User.LastName born at @Model.User.BirthDate Mail: @Model.User.Email</div>*@

<div>@Model.ShortDesc</div>
<div>@Model.Timestamp</div>

<div>
   <img src="/Product/GetImage1/@Model.Id" width="300" height="300"/>
   <img src="" />
   <img src="" />
</div>
<div>
   @Model.LongDesc
</div>

<div>@Model.Price</div>
<div>@Model.Owner.FirstName @Model.Owner.LastName born at @Model.Owner.BirthDate Mail: @Model.Owner.Email</div>

