@model Product

<div>@Model.ShortDesc</div>
<div>On the site since: @Model.Timestamp</div>

<div>
   <img src="/Product/GetImage/@Model.Id?size=2" width="300" height="300" class="m-2" />
</div>
<div>
   @Model.LongDesc
</div>

<div class="font-weight-bold">Price: @Model.Price</div>
<div>Owner: @Model.Owner.FirstName @Model.Owner.LastName. Born at @Model.Owner.BirthDate.ToShortDateString(). Mail: @Model.Owner.Email</div>

